@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #0b3952b1;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./Component/assests/fonts/helvetica-neu.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'La Belle Aurore';
    src: url('./Component/assests/fonts/LaBelleAurore.woff2') format('woff2'),
      url('./Component/assests/fonts/LaBelleAurore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Coolvetica';
    src: url('./Component/assests/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
      url('./Component/assests/fonts/LaBelleAurore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }



